html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-image: url('./assets/floral-old-paper-or-parchment.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: fantasy, sans-serif;
}

h2 {
  font-size: 3em;
  font-weight: 600;
}

h4 {
  font-size: 2em;
  line-height: 2.5;
}

a {
  text-decoration: none
}

.main {
  display: flex;
  height: 100%;
}

.left {
  background-color: #143745;
  box-shadow: 0 0 5px 5px rgb(28,55,68);
  display: flex;
  height: 100%;
  justify-content: center;
  width: 25%;
}

.left img {
  height: 30%;
  margin-top: 9.3%;
}

.right img {
  margin: 60px;
  box-shadow: inset 0 0 1px 1px #78787880, 0 0 1px 2px #78787880;
}

.right {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 75%;
}